<div class="plans-container flex justify-evenly items-start">

  <!-- Can1 Plan -->
  <div class="bg-gray-800 p-4 rounded-lg shadow-md">
    <app-generic-plan planType="can1" targetVariable="selectedPlans"></app-generic-plan>
  </div>

  <!-- Hydro Plan -->
  <div class="bg-gray-800 p-4 rounded-lg shadow-md">
    <app-generic-plan planType="hydro" targetVariable="selectedPlans"></app-generic-plan>
  </div>

  <!-- Line3 Plan -->
  <div class="bg-gray-800 p-4 rounded-lg shadow-md">
    <app-generic-plan planType="line3" targetVariable="selectedPlans"></app-generic-plan>
  </div>
</div>
